# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# pytest caches
.pytest_cache/

# mypy caches
.mypy_cache/

# Editor settings
.vscode/

# Node modules
node_modules/

# Build outputs
dist/
build/

# Frontend build
chatbuild/frontend/dist/

# Local database files
chatbuild/backend/data/
*.db